{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Articles</h1>
    <table role="grid">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Titre</th>
      <th scope="col">Créé le</th>
      <th scope="col">Mis à jour le</th>
      <th scope="col">Catégorie</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <ul>
        {% for article in articles %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.title }}</td>
                <td>{{ article.created_at | date("d/m/Y") }}</td>
                <td>{{ article.updated_at | date("d/m/Y") }}</td>
                <td>{{ article.category_name }}</td>
                <td><a href="/admin/articles/edit?id={{ article.id }}"><i class="fa-regular fa-pen-to-square"></i></a></td>
            </tr>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
  </tbody>
</table>
    <a href="/admin/articles/add">Ajouter</a>
{% endblock %}
