{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Article {{ article.title }}</h1>
    <p>Catégorie : {{ article.category_name }}</p>
    <p>Créé le : {{ article.created_at | date("d/m/Y") }}</p>
    <p>Mis à jour le : {{ article.updated_at | date("d/m/Y") }}</p>
    <p>{{ article.content }}</p>
    <a href="/articles">Back</a>
{% endblock %}
